<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>
<%= form_for(@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<DIV id=ou52 style="position:absolute; left:8px; top:181px; width:175px; height:36px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u52.png',sizingMethod='scale');
"><img style="width:183px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u52.png" border="0" alt=""></span>

</DIV>
<DIV id=u52container style="position:absolute; left:8px; top:181px; width:175px; height:36px;; overflow:visible">

<DIV id=u53 style="position:absolute; left:2px; top:9.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u52 src="Resources/transparent.gif" style="position:absolute; left:8px; top:181px; width:174px; height:35px"  >

<DIV id=u54 style="position:absolute; left:21px; top:189px; width:109px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>
<DIV id=ou55 style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:202px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u55.png',sizingMethod='scale');
"><img style="width:183px; height:202px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u55.png" border="0" alt=""></span>

</DIV>
<DIV id=u55container style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<DIV id=u56 style="position:absolute; left:2px; top:88.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u56_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u55 src="Resources/transparent.gif" style="position:absolute; left:8px; top:217px; width:174px; height:193px"  >

<span style="position:absolute; left:10px; top:289px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u57.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u57.png" border="0" alt=""></span>

<IMG id=u57 src="Resources/transparent.gif" style="position:absolute; left:10px; top:288.5px; width:170px; height:2px">

<DIV id=u58 style="position:absolute; left:20px; top:265px; width:130px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u58_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'View / Modify FAQs', faqs_path %></span></DIV></DIV>
<DIV id=u59 style="position:absolute; left:21px; top:304px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u59_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Insert FAQ', new_faq_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:253px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u60.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u60.png" border="0" alt=""></span>

<IMG id=u60 src="Resources/transparent.gif" style="position:absolute; left:10px; top:252.5px; width:170px; height:2px">

<DIV id=u61 style="position:absolute; left:22px; top:228px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u61_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Knowledge base', categories_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:334px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u62.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u62.png" border="0" alt=""></span>

<IMG id=u62 src="Resources/transparent.gif" style="position:absolute; left:10px; top:333.5px; width:170px; height:2px">

<DIV id=u63 style="position:absolute; left:19px; top:343px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Create Category', new_category_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:367px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u64.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u64.png" border="0" alt=""></span>

<IMG id=u64 src="Resources/transparent.gif" style="position:absolute; left:10px; top:366.5px; width:170px; height:2px">

<DIV id=u65 style="position:absolute; left:20px; top:380px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u65_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Manage Category', categories_path %></span></DIV></DIV>
<DIV id=ou66 style="position:absolute; left:209px; top:229px; width:660px; height:51px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:668px; height:59px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u66.png',sizingMethod='scale');
"><img style="width:668px; height:59px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u66.png" border="0" alt=""></span>

</DIV>
<DIV id=u66container style="position:absolute; left:209px; top:229px; width:660px; height:51px;; overflow:visible">

<DIV id=u67 style="position:absolute; left:2px; top:17px; width:655px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u67_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u66 src="Resources/transparent.gif" style="position:absolute; left:209px; top:229px; width:659px; height:50px"  >

<DIV id=u68 style="position:absolute; left:219px; top:248px; width:641px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Welcome to FAQ section. Here you can add or edit the FAQ and answers...</span></DIV></DIV>
<DIV id=ou69 style="position:absolute; left:206px; top:294px; width:665px; height:503px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:673px; height:511px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u69.png',sizingMethod='scale');
"><img style="width:673px; height:511px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u69.png" border="0" alt=""></span>

</DIV>
<DIV id=u69container style="position:absolute; left:206px; top:294px; width:665px; height:503px;; overflow:visible">

<DIV id=u70 style="position:absolute; left:2px; top:243px; width:660px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:206px; top:294px; width:664px; height:502px"  >

<DIV id=ou71 style="position:absolute; left:208px; top:296px; width:661px; height:36px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:669px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u71.png',sizingMethod='scale');
"><img style="width:669px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u71.png" border="0" alt=""></span>

</DIV>
<DIV id=u71container style="position:absolute; left:208px; top:296px; width:661px; height:36px;; overflow:visible">

<DIV id=u72 style="position:absolute; left:2px; top:8px; width:656px; height:19px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" color:#000000; font-size:12pt;"><b>&nbsp; &nbsp;&nbsp; Add a FAQ</b></span></DIV></DIV>
</DIV>
<IMG id=u71 src="Resources/transparent.gif" style="position:absolute; left:208px; top:296px; width:660px; height:35px"  >

<DIV id=ou73 style="position:absolute; left:220px; top:401px; width:621px; height:156px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:629px; height:164px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u73.png',sizingMethod='scale');
"><img style="width:629px; height:164px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u73.png" border="0" alt=""></span>

</DIV>
<DIV id=u73container style="position:absolute; left:220px; top:401px; width:621px; height:156px;; overflow:visible">

<DIV id=u74 style="position:absolute; left:2px; top:69.5px; width:616px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u73 src="Resources/transparent.gif" style="position:absolute; left:220px; top:401px; width:620px; height:155px"  >

<DIV id=u75 style="position:absolute; left:220px; top:353px; width:620px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u75_rtf><span style=" font-family:'Verdana'; color:#808080; font-size:10pt;">Here you add the FAQ to the desired section.. Be precise in your answer so that the user can get maximum benefit from this section...</span></DIV></DIV>
<DIV id=u76 style="position:absolute; left:257px; top:466px; width:53px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.label :subject %></span></DIV></DIV>
<div style="position:absolute; left:311px; top:462px; width:288px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :subject %></div>

<INPUT id=u78  type=submit value="Submit" style="position:absolute; left:430px; top:746px; width:60px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >

<INPUT id=u79  type=submit value="Reset" style="position:absolute; left:500px; top:746px; width:60px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >

<DIV id=u79ann style="font-size:1px; position:absolute; left:551px; top:742px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u80 style="position:absolute; left:247px; top:428px; width:60px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u80_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Category:</span></DIV></DIV>
<div id=u81  style="position:absolute; left:311px; top:425px; width:25px; height:22px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :category, options_for_select(Category.all.collect {|p| [p.category_name]}, {:prompt => 'select category'}) %>
</div>

<DIV id=u82 style="position:absolute; left:263px; top:506px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u82_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.label :private %></span></DIV></DIV>
<DIV id=u83container style="position:absolute; left:311px; top:506px; width:480px; height:16px; ; ; text-align: left " >
<DIV id=u84 style="position:absolute; left:16px; top:0px; width:462px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u84_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Tick this box to make the article private so only logged in users can view it..</span></DIV></DIV>
</DIV>
<DIV style="position:absolute; left:311px; top:506px; width:480px; height:16px; ; ; text-align: left " ><div id=u83 style="position:absolute; left:-3px; top:-2px;" type=checkbox value=checkbox  ><%= f.check_box :private %></div></DIV>
<DIV id=ou85 style="position:absolute; left:222px; top:571px; width:621px; height:166px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:629px; height:174px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u85.png',sizingMethod='scale');
"><img style="width:629px; height:174px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u85.png" border="0" alt=""></span>

</DIV>
<DIV id=u85container style="position:absolute; left:222px; top:571px; width:621px; height:166px;; overflow:visible">

<DIV id=u86 style="position:absolute; left:2px; top:74.5px; width:616px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u86_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u85 src="Resources/transparent.gif" style="position:absolute; left:222px; top:571px; width:620px; height:165px"  >

<DIV id=u87 style="position:absolute; left:243px; top:610px; width:62px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u87_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.label :contents %></span></DIV></DIV>
<div id=u88  style="position:absolute; left:307px; top:606px; width:340px; height:110px; ; ; text-align: left ; font-family:'Courier New'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  ><%= f.text_area :contents , :size => "50x2"%></div>

<DIV id=u89 style="position:absolute; left:307px; top:582px; width:343px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u89_rtf><span style=" font-family:'Arial'; color:#FF0000; font-size:10pt;">Here the toolbox should appear with bold, Italic buttons ...</span></DIV></DIV>
<DIV id=u90 style="visibility:hidden; position:absolute; left:300px; top:177px; width:391px; height:48px;; overflow:hidden">
<DIV id=pd0u90 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou91 style="position:absolute; left:6px; top:7px; width:368px; height:34px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:376px; height:42px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u91.png',sizingMethod='scale');
"><img style="width:376px; height:42px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u91.png" border="0" alt=""></span>

</DIV>
<DIV id=u91container style="position:absolute; left:6px; top:7px; width:368px; height:34px;; overflow:visible">

<DIV id=u92 style="position:absolute; left:2px; top:10px; width:363px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u92_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">FAQ is successfully added to that category</span></div></DIV></DIV>
</DIV>
<IMG id=u91 src="Resources/transparent.gif" style="position:absolute; left:6px; top:7px; width:367px; height:33px"  >

</DIV>
</DIV>
<DIV id=u93 style="visibility:hidden; position:absolute; left:658px; top:630px; width:170px; height:61px;; overflow:hidden">
<DIV id=pd0u93 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou94 style="position:absolute; left:3px; top:11px; width:178px; height:34px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:186px; height:42px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- FAQ_files/u94.png',sizingMethod='scale');
"><img style="width:186px; height:42px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- FAQ_files/u94.png" border="0" alt=""></span>

</DIV>
<DIV id=u94container style="position:absolute; left:3px; top:11px; width:178px; height:34px;; overflow:visible">

<DIV id=u95 style="position:absolute; left:2px; top:10px; width:173px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u95_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">Answer can't be blank</span></div></DIV></DIV>
</DIV>
<IMG id=u94 src="Resources/transparent.gif" style="position:absolute; left:3px; top:11px; width:177px; height:33px"  >

<span style="position:absolute; left:5px; top:18px; width:20px; height:20px">
<IMG id=ou96 src="/images/Admin -- FAQ_files/u96.gif" style="position:absolute;left:0px;top:0px;width:20px;height:20px">
</span>
<IMG id=u96 src="Resources/transparent.gif" style="position:absolute; left:5px; top:18px; width:20px; height:20px"   >

</DIV>
</DIV>
<DIV id=u97 style="position:absolute; left:203px; top:148px; width:77px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u97_rtf><span style=" font-family:'Arial'; color:#000000; font-size:14pt;"><b>FAQ</b></span></DIV></DIV>
<%end%>
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="/images/Admin -- FAQ_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>

