<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>


<DIV id=u52container style="position:absolute; left:8px; top:181px; width:175px; height:36px;; overflow:visible">

<DIV id=u53 style="position:absolute; left:2px; top:9.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u52 src="Resources/transparent.gif" style="position:absolute; left:8px; top:181px; width:174px; height:35px"  >

<DIV id=u54 style="position:absolute; left:21px; top:189px; width:109px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>
<DIV id=ou55 style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:202px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u55.png',sizingMethod='scale');
"><img style="width:183px; height:202px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u55.png" border="0" alt=""></span>

</DIV>
<DIV id=u55container style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<DIV id=u56 style="position:absolute; left:2px; top:88.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u56_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u55 src="Resources/transparent.gif" style="position:absolute; left:8px; top:217px; width:174px; height:193px"  >

<span style="position:absolute; left:10px; top:289px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u57.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u57.png" border="0" alt=""></span>

<IMG id=u57 src="Resources/transparent.gif" style="position:absolute; left:10px; top:288.5px; width:170px; height:2px">

<DIV id=u58 style="position:absolute; left:20px; top:265px; width:130px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u58_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'View / Modify FAQs', faqs_path %></span></DIV></DIV>
<DIV id=u59 style="position:absolute; left:21px; top:304px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u59_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Insert FAQ', new_faq_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:253px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u60.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u60.png" border="0" alt=""></span>

<IMG id=u60 src="Resources/transparent.gif" style="position:absolute; left:10px; top:252.5px; width:170px; height:2px">

<DIV id=u61 style="position:absolute; left:22px; top:228px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u61_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Knowledge base', category_create_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:334px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u62.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u62.png" border="0" alt=""></span>

<IMG id=u62 src="Resources/transparent.gif" style="position:absolute; left:10px; top:333.5px; width:170px; height:2px">

<DIV id=u63 style="position:absolute; left:19px; top:343px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf><span style=" color:#333399; font-size:10pt;">Create Category</span></DIV></DIV>
<span style="position:absolute; left:10px; top:367px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u64.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u64.png" border="0" alt=""></span>

<IMG id=u64 src="Resources/transparent.gif" style="position:absolute; left:10px; top:366.5px; width:170px; height:2px">

<DIV id=u65 style="position:absolute; left:20px; top:380px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u65_rtf><span style=" color:#333399; font-size:10pt;">Manage Category</span></DIV></DIV>
<DIV id=ou66 style="position:absolute; left:209px; top:188px; width:613px; height:483px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:621px; height:491px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u66.png',sizingMethod='scale');
"><img style="width:621px; height:491px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u66.png" border="0" alt=""></span>

</DIV>
<DIV id=u66container style="position:absolute; left:209px; top:188px; width:613px; height:483px;; overflow:visible">

<DIV id=u67 style="position:absolute; left:2px; top:233px; width:608px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u67_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u66 src="Resources/transparent.gif" style="position:absolute; left:209px; top:188px; width:612px; height:482px"  >

<DIV id=ou68 style="position:absolute; left:211px; top:190px; width:609px; height:33px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:617px; height:41px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u68.png',sizingMethod='scale');
"><img style="width:617px; height:41px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u68.png" border="0" alt=""></span>

</DIV>
<DIV id=u68container style="position:absolute; left:211px; top:190px; width:609px; height:33px;; overflow:visible">

<DIV id=u69 style="position:absolute; left:2px; top:6.5px; width:604px; height:19px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u69_rtf><span style=" color:#000000; font-size:12pt;"><b>&nbsp;&nbsp; Modify FAQ</b></span></DIV></DIV>
</DIV>
<IMG id=u68 src="Resources/transparent.gif" style="position:absolute; left:211px; top:190px; width:608px; height:32px"  >

<DIV id=ou70 style="position:absolute; left:232px; top:256px; width:549px; height:214px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:557px; height:222px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u70.png',sizingMethod='scale');
"><img style="width:557px; height:222px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u70.png" border="0" alt=""></span>
<p id="notice"><%= notice %></p>
</DIV>
<DIV id=u70container style="position:absolute; left:232px; top:256px; width:549px; height:214px;; overflow:visible">

<DIV id=u71 style="position:absolute; left:2px; top:98.5px; width:544px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u71_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u70 src="Resources/transparent.gif" style="position:absolute; left:232px; top:256px; width:548px; height:213px"  >

<DIV id=u72 style="position:absolute; left:331px; top:285px; width:20px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Q:</b></span></DIV></DIV>
<DIV id=ou73 style="position:absolute; left:230px; top:504px; width:551px; height:122px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:559px; height:130px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u73.png',sizingMethod='scale');
"><img style="width:559px; height:130px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u73.png" border="0" alt=""></span>

</DIV>
<DIV id=u73container style="position:absolute; left:230px; top:504px; width:551px; height:122px;; overflow:visible">

<DIV id=u74 style="position:absolute; left:2px; top:52.5px; width:546px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u73 src="Resources/transparent.gif" style="position:absolute; left:230px; top:504px; width:550px; height:121px"  >

<DIV id=u75 style="position:absolute; left:233px; top:479px; width:67px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u75_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>Details:</b></span></DIV></DIV>
<DIV id=u76 style="position:absolute; left:419px; top:552px; width:60px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Status:</b></span></DIV></DIV>
<DIV id=u77 style="position:absolute; left:740px; top:640px; width:52px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u77_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Cancel', faqs_path %></span></DIV></DIV>
<DIV id=u78 style="position:absolute; left:331px; top:334px; width:23px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u78_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>A:</b></span></DIV></DIV>
<TEXTAREA id=u79  style="position:absolute; left:371px; top:327px; width:380px; height:122px; ; ; text-align: left ; font-family:'Courier New'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  ><%= @faq.contents %></TEXTAREA>

<DIV id=u80 style="position:absolute; left:354px; top:587px; width:131px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u80_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Votes Up / Down:</b></span></DIV></DIV>
<DIV id=u81 style="position:absolute; left:710px; top:196px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u81_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Delete this FAQ',   :confirm => 'Are you sure?', :method => :delete %></span></DIV></DIV>
<DIV id=u82 style="position:absolute; left:402px; top:519px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u82_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Category:</b></span></DIV></DIV>
<DIV id=u83 style="position:absolute; left:487px; top:519px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u83_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @faq.category %></span></DIV></DIV>
<DIV id=u84 style="position:absolute; left:490px; top:588px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u84_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @faq.votes_up %>/<%= @faq.votes_down %></span></DIV></DIV>
<DIV id=u85container style="position:absolute; left:486px; top:551px; width:100px; height:16px; ; ; text-align: left " >
<DIV id=u86 style="position:absolute; left:16px; top:0px; width:82px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u86_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"> Public</span></DIV></DIV>
</DIV>
<DIV style="position:absolute; left:486px; top:551px; width:100px; height:16px; ; ; text-align: left " ><INPUT id=u85 name="Status of FAQ" style="position:absolute; left:-3px; top:-2px;" type=radio value=radio checked ></DIV>
<DIV id=u87container style="position:absolute; left:554px; top:551px; width:100px; height:16px; ; ; text-align: left " >
<DIV id=u88 style="position:absolute; left:16px; top:0px; width:82px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u88_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Private</span></DIV></DIV>
</DIV>
<DIV style="position:absolute; left:554px; top:551px; width:100px; height:16px; ; ; text-align: left " ><INPUT id=u87 name="Status of FAQ" style="position:absolute; left:-3px; top:-2px;" type=radio value=radio  ></DIV>
<DIV id=u89 style="position:absolute; left:235px; top:235px; width:125px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u89_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><%= link_to 'Knowledge base', category_create_path %></span></DIV></DIV>
<TEXTAREA id=u90 disabled style="position:absolute; left:370px; top:272px; width:380px; height:37px; ; ; text-align: left ; font-family:'Courier New'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  ></TEXTAREA>

<DIV id=u91 style="position:absolute; left:382px; top:284px; width:181px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u91_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @faq.subject %></span></DIV></DIV>
<DIV id=u92 style="position:absolute; left:620px; top:197px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u92_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Edit this FAQ', edit_faq_path(@faq) %></span></DIV></DIV>
<DIV id=u92ann style="font-size:1px; position:absolute; left:701px; top:193px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u93 style="position:absolute; left:203px; top:148px; width:77px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u93_rtf><span style=" font-family:'Arial'; color:#000000; font-size:14pt;"><b>FAQ</b></span></DIV></DIV><SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="/images/Admin -- detail view of the FAQ_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>

