<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>


<DIV id=u59 style="position:absolute; left:299px; top:434px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u59_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Username</span></DIV></DIV>
<%= f.text_field :full_name, :id=>"60",:style=>"position:absolute; left:377px; top:349px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  %>

<DIV id=u61 style="position:absolute; left:300px; top:350px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u61_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Full Name</span></DIV></DIV>
<DIV id=u62 style="position:absolute; left:323px; top:394px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u62_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Email</span></DIV></DIV>
<DIV id=u63 style="position:absolute; left:280px; top:584px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Ticket Notifier</span></DIV></DIV>
<%= f.email_field :email, :id=>"64", :style=>"position:absolute; left:377px; top:391px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   %>

<%= f.text_field :username, :id=>"65", :style=>"position:absolute; left:378px; top:429px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   %>

<DIV id=u66container style="position:absolute; left:378px; top:584px; width:152px; height:16px; ; ; text-align: left " >
<DIV id=u67 style="position:absolute; left:16px; top:0px; width:134px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u67_rtf><span style=" font-family:'Arial'; color:#808080; font-size:10pt;">&nbsp; Receive Email alert</span></DIV></DIV>
</DIV>
<DIV style="position:absolute; left:378px; top:584px; width:152px; height:16px; ; ; text-align: left " ><div id="u66", style="position:absolute; left:-3px; top:-2px;" ><%= f.check_box :ticket_notifier %></div></DIV>
<DIV id=ou68 style="position:absolute; left:230px; top:631px; width:567px; height:180px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:575px; height:188px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Admin -- My Account_files/u68.png',sizingMethod='scale');
"><img style="width:575px; height:188px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Admin -- My Account_files/u68.png" border="0" alt=""></span>

</DIV>
<DIV id=u68container style="position:absolute; left:230px; top:631px; width:567px; height:180px;; overflow:visible">

<DIV id=u69 style="position:absolute; left:2px; top:81.5px; width:562px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u69_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u68 src="Resources/transparent.gif" style="position:absolute; left:230px; top:631px; width:566px; height:179px"  >

<DIV id=u70 style="position:absolute; left:303px; top:677px; width:95px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Current Password</span></DIV></DIV>
<%= f.password_field :current_password, :id=>"71", :style=>"position:absolute; left:404px; top:672px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   %>

<DIV id=u72 style="position:absolute; left:298px; top:721px; width:108px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">New Password</span></DIV></DIV>
<%= f.password_field :password, :id=>"73", :style=>"position:absolute; left:405px; top:717px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   %>

<DIV id=u74 style="position:absolute; left:279px; top:762px; width:109px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Confirm Password</span></DIV></DIV>
<%= f.password_field :password_confirmation, :id=>"75", :style=>"position:absolute; left:406px; top:757px; width:230px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   %>

<div style="position:absolute; left:450px; top:930px; width:100px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" ><div><%= f.submit "Modify" %></div></div>

<DIV id=u76ann style="font-size:1px; position:absolute; left:541px; top:926px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u77 style="position:absolute; left:750px; top:930px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u77_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to "Cancel", :back %></span></DIV></DIV>
<DIV id=u77ann style="font-size:1px; position:absolute; left:791px; top:926px; width:1px; height:1px; overflow:visible"></DIV>

<% end %>
