<h1>Staff#ticket</h1>
<DIV id=u54 style="position:absolute; left:18px; top:224px; width:102px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>



<DIV id=u58 style="position:absolute; left:17px; top:260px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u58_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Assigned tickets', staff_ticket_path %></span></DIV></DIV>


<DIV id=u60 style="position:absolute; left:17px; top:293px; width:240px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u60_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Awaiting for user reply', staff_pending_path %></span></DIV></DIV>


<DIV id=u62 style="position:absolute; left:17px; top:325px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u62_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Completed tickets', staff_closed_path %></span></DIV></DIV>
<DIV style="position:absolute; left:200px; top:200px;; overflow:visible">
<h1>Tickets --> Assigned tickets</h1>
<table border ="5">
  <tr>
    <th>Client name</th>
    <th>Ticket ID</th>
    <th>Date</th>
    <th>Ticket</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Department</th>
    
       </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.customer_name %></td>
    <td><%= ticket.id %></td>
    <td><%= ticket.created_at %></td>
    <td><%= link_to ticket.subject, "/staff/view/#{ticket.id}" %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.to %></td>
    

       <td><%= link_to 'Delete', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
<% end %>
</table>
</DIV>
