<DIV id=u54 style="position:absolute; left:18px; top:184px; width:102px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>

</DIV>

<DIV id=u58 style="position:absolute; left:17px; top:260px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u58_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Open tickets', adminopentickets_show_path %></span></DIV></DIV>
<DIV id=u58ann style="font-size:1px; position:absolute; left:128px; top:256px; width:1px; height:1px; overflow:visible"></DIV>


<DIV id=u60 style="position:absolute; left:17px; top:293px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u60_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Pending tickets', adminpendingtickets_show_path %></span></DIV></DIV>


<DIV id=u62 style="position:absolute; left:17px; top:325px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u62_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Completed tickets', adminclosedtickets_show_path %></span></DIV></DIV>


<DIV id=u64ann style="font-size:1px; position:absolute; left:108px; top:391px; width:1px; height:1px; overflow:visible"></DIV>
<DIV style="position:absolute; left:200px; top:140px;; overflow:visible">
<h1>Tickets --> Open Tickets</h1>
<table border ="1">
  <tr>
    <th>Client name</th>
    <th>Ticket ID</th>
    <th>Date</th>
    <th>Ticket</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Department</th>
    <th></th>
       </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.customer_name %></td>
    <td><%= ticket.id %></td>
    <td><%= ticket.created_at %></td>
    <td><%= link_to ticket.subject, "/adminopentickets/view/#{ticket.id}"%></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.to %></td>
  
       <td><%= link_to 'Delete', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
<% end %>
</table>
</DIV>
