
<DIV style="position:absolute; left:200px; top:140px;; overflow:visible">

<DIV id=u89 style="position:absolute; left:42px; top:290px; width:470px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u89_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><%= @ticket.message %></span></DIV></DIV>
<DIV id=u90 style="position:absolute; left:43px; top:364px; width:157px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u90_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Documents attached:</b></span></DIV></DIV>
<span style="position:absolute; left:23px; top:410px; width:570px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Admin -- Open Tickets_files/u91.png',sizingMethod='scale');
"><img style="width:570px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Admin -- Open Tickets_files/u91.png" border="0" alt=""></span>

<IMG id=u91 src="Resources/transparent.gif" style="position:absolute; left:23px; top:410px; width:567px; height:3px">

<DIV id=u92 style="position:absolute; left:35px; top:168px; width:101px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u92_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Subject:</b></span></DIV></DIV>
<DIV id=ou93 style="position:absolute; left:26px; top:60px; width:565px; height:101px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:573px; height:109px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Admin -- Open Tickets_files/u93.png',sizingMethod='scale');
"><img style="width:573px; height:109px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Admin -- Open Tickets_files/u93.png" border="0" alt=""></span>

</DIV>
<DIV id=u93container style="position:absolute; left:26px; top:60px; width:565px; height:101px;; overflow:visible">

<DIV id=u94 style="position:absolute; left:2px; top:42px; width:560px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u94_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u93 src="Resources/transparent.gif" style="position:absolute; left:26px; top:60px; width:564px; height:100px"  >

<DIV id=u95 style="position:absolute; left:121px; top:73px; width:25px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u95_rtf><span style=" color:#000000; font-size:10pt;"><b>ID:</b></span></DIV></DIV>
<DIV id=u96 style="position:absolute; left:158px; top:75px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u96_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @ticket.id %></span></DIV></DIV>
<DIV id=u97 style="position:absolute; left:284px; top:100px; width:47px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u97_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Date:</b></span></DIV></DIV>
<DIV id=u98 style="position:absolute; left:272px; top:129px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u98_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Priority:</b></span></DIV></DIV>
<DIV id=u99 style="position:absolute; left:335px; top:130px; width:70px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u99_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;"><%= @ticket.priority %></span></DIV></DIV>
<DIV id=u100 style="position:absolute; left:330px; top:101px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u100_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= @ticket.created_at %></span></DIV></DIV>
<DIV id=u101 style="position:absolute; left:96px; top:100px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u101_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Status:</b></span></DIV></DIV>
<DIV id=u102 style="position:absolute; left:156px; top:101px; width:37px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u102_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;"><%= @ticket.status %></span></DIV></DIV>
<DIV id=u103 style="position:absolute; left:274px; top:73px; width:45px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u103_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Client:</b></span></DIV></DIV>
<DIV id=u104 style="position:absolute; left:330px; top:74px; width:70px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u104_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;"><%= @ticket.customer_name %></span></DIV></DIV>
<DIV id=u105 style="position:absolute; left:30px; top:38px; width:80px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u105_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><b>Details:</b></span></DIV></DIV>
<DIV id=ou106 style="position:absolute; left:26px; top:192px; width:565px; height:39px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:573px; height:47px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Admin -- Open Tickets_files/u106.png',sizingMethod='scale');
"><img style="width:573px; height:47px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Admin -- Open Tickets_files/u106.png" border="0" alt=""></span>

</DIV>
<DIV id=u106container style="position:absolute; left:26px; top:192px; width:565px; height:39px;; overflow:visible">

<DIV id=u107 style="position:absolute; left:2px; top:11px; width:560px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u107_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u106 src="Resources/transparent.gif" style="position:absolute; left:26px; top:192px; width:564px; height:38px"  >

<DIV id=u108 style="position:absolute; left:40px; top:202px; width:240px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u108_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;">&nbsp;&nbsp; <%= @ticket.subject %></span></DIV></DIV>
<DIV id=u109 style="position:absolute; left:30px; top:240px; width:101px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u109_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><b>Message:</b></span></DIV></DIV>
<DIV id=u110 style="position:absolute; left:190px; top:364px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u110_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= image_tag @ticket.avatar.url(:thumb) %></span></DIV></DIV>
<DIV id=u111 style="position:absolute; left:456px; top:16px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u111_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Assign Ticket', "/adminopentickets/assign/#{@ticket.id}" %></u></span></DIV></DIV>
<DIV id=u111ann style="font-size:1px; position:absolute; left:547px; top:12px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u112 style="position:absolute; left:554px; top:16px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u112_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Support Ticket', "/adminopentickets/support/#{@ticket.id}" %></span></DIV></DIV>

</DIV>

</DIV>
<DIV id=u115container style="position:absolute; left:150px; top:575px; width:559px; height:101px;; overflow:visible">
<DIV id=u114_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:11pt;"><b>Assign Ticket:</b></span></DIV></DIV>
<DIV id=ou115 style="position:absolute; left:150px; top:750px; width:559px; height:101px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:567px; height:109px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Admin -- Open Tickets_files/u115.png',sizingMethod='scale');
"><img style="width:567px; height:109px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Admin -- Open Tickets_files/u115.png" border="0" alt=""></span>

</DIV>
<DIV id=u115container style="position:absolute; left:150px; top:575px; width:559px; height:101px;; overflow:visible">
<%= form_for(@ticket) do |f| %>
<DIV id=u115container style="position:absolute; left:200px; top:35px; width:559px; height:101px;; overflow:visible">

<DIV id=u116 style="position:absolute; left:2px; top:42px; width:554px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u116_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u115 src="Resources/transparent.gif" style="position:absolute; left:10px; top:35px; width:558px; height:100px"  >

<div id=u117  style="position:absolute; left:114px; top:57px; width:133px; height:22px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :to, options_for_select(Dept.all.collect {|p| [p.department_name]}, {:prompt => 'select department'}) %>
</div>
	

 
<DIV id=u118 style="position:absolute; left:27px; top:59px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u118_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Department:</span></DIV></DIV>
<DIV id=u119 style="position:absolute; left:63px; top:99px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u119_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Staff:</span></DIV></DIV>
<div id=u120  style="position:absolute; left:114px; top:98px; width:133px; height:22px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :staff_email, options_for_select(@staff.collect {|p| [p.email]}, {:prompt => 'select staff'}) %>

</div>

<div style="position:absolute; left:248px; top:146px; width:90px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" ><%= f.submit :Assign  %></div>
<% end %>
</DIV>
</div>
</DIV>
</DIV>
</DIV>
</DIV>
</DIV>
