<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>

<script src="/javascripts/livevalidation_standalone.js"></script>



 <%= render :partial => "layouts/header1" %>
<%= form_for @ticket,:html => { :multipart => true } do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
 <%= f.hidden_field :customer_name, :value => current_user.fullname %>
 <%= f.hidden_field :client_email, :value => current_user.email %>

<DIV id=u3container style="position:absolute; left:657px; top:340px; width:181px; height:37px;; overflow:visible">


</DIV>


<DIV id=u19container style="position:absolute; left:17px; top:129px; width:81px; height:31px;; overflow:visible">

<DIV id=u20 style="position:absolute; left:2px; top:8px; width:76px; height:14px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u20_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#3366FF; font-size:9pt;">Support &gt;</span></div></DIV></DIV>
</DIV>
<IMG id=u19 src="Resources/transparent.gif" style="position:absolute; left:17px; top:129px; width:80px; height:30px"  >

<DIV id=u19ann style="font-size:1px; position:absolute; left:88px; top:125px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou21 style="position:absolute; left:91px; top:129px; width:104px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:112px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Create a ticket_files/u21.png',sizingMethod='scale');
"><img style="width:112px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Create a ticket_files/u21.png" border="0" alt=""></span>

</DIV>
<DIV id=u21container style="position:absolute; left:91px; top:129px; width:104px; height:31px;; overflow:visible">

<DIV id=u22 style="position:absolute; left:2px; top:8px; width:99px; height:14px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;">Submit ticket</span></div></DIV></DIV>
</DIV>

<DIV id=u34container style="position:absolute; left:20px; top:180px; width:609px; height:36px;; overflow:visible">

<DIV id=u35 style="position:absolute; left:2px; top:8px; width:604px; height:19px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u35_rtf><span style=" color:#000000; font-size:12pt;"><b>&nbsp;&nbsp; Submit Ticket</b></span></DIV></DIV>
</DIV>
<IMG id=u34 src="Resources/transparent.gif" style="position:absolute; left:20px; top:180px; width:608px; height:35px"  >

<DIV id=u36 style="position:absolute; left:31px; top:251px; width:600px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u36_rtf><span style=" font-family:'Verdana'; color:#808080; font-size:10pt;">If you can't find a solution to your problem in our support, you can just fill the fields below with as detailed as possible and send it to our support technicians</span><span style=" font-family:'Arial'; font-size:10pt;">....</span></DIV></DIV>
<DIV id=u37 style="position:absolute; left:67px; top:350px; width:73px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><%= f.label :category %></span></DIV></DIV>
<div id=u38  style="position:absolute; left:143px; top:349px;  ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :category, options_for_select(Category.all.collect {|p| [p.category_name]}, {:prompt => 'select category'}) %>
</div>
<DIV id=u39 style="position:absolute; left:82px; top:390px; width:60px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><%= f.label :priority %></span></DIV></DIV>
<div id=u40  style="position:absolute; left:144px; top:388px;  ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :priority, options_for_select(['Low', 'Medium', 'High', 'Emergency', 'Critical']) %>
</div>

<DIV id=u41 style="position:absolute; left:110px; top:314px; width:24px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><%= f.label :to %></span></DIV></DIV>
<div id=u42  style="position:absolute; left:141px; top:312px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<%= f.select :to, options_for_select(Dept.all.collect {|p| [p.department_name]}, {:prompt => 'select department'}) %>
</div>

<DIV id=u43 style="position:absolute; left:29px; top:434px; width:600px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><span style=" font-family:'Verdana'; color:#808080; font-size:10pt;">Below is the details of the ticket enter the message as briefly as possible and use appropriate language inorder to get quick response...Thank you....</span></DIV></DIV>
<DIV id=ou44 style="position:absolute; left:28px; top:476px; width:585px; height:221px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:593px; height:229px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Create a ticket_files/u44.png',sizingMethod='scale');
"><img style="width:593px; height:229px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Create a ticket_files/u44.png" border="0" alt=""></span>

</DIV>
<DIV id=u44container style="position:absolute; left:28px; top:476px; width:585px; height:221px;; overflow:visible">

<DIV id=u45 style="position:absolute; left:2px; top:102px; width:580px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u45_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u44 src="Resources/transparent.gif" style="position:absolute; left:28px; top:476px; width:584px; height:220px"  >

<DIV id=u46 style="position:absolute; left:70px; top:493px; width:60px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u46_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><%= f.label :subject %></span></DIV></DIV>
<div id=u47  type=text value="" style="position:absolute; left:140px; top:488px; width:430px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :subject %></div>

<span style="position:absolute; left:139px; top:519px; width:22px; height:22px">
<IMG id=ou48 src="Create a ticket_files/u48.gif" style="position:absolute;left:0px;top:0px;width:22px;height:22px">
</span>
<IMG id=u48 src="Resources/transparent.gif" style="position:absolute; left:139px; top:519px; width:22px; height:22px"   >

<DIV id=u49 style="position:absolute; left:170px; top:518px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u49_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Attach a file</u></span></DIV></DIV>

<DIV id=u49ann style="font-size:1px; position:absolute; left:142px; top:550px; width:1px; height:1px; overflow:visible"><%= f.file_field :avatar %></DIV>

<DIV id=u50 style="position:absolute; left:63px; top:602px; width:60px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u50_rtf><span style=" font-family:'Arial'; color:#000000; font-size:11pt;"><%= f.label :message %></span></DIV></DIV>
<div id=u51  style="position:absolute; left:140px; top:599px; width:290px; height:80px; ; ; text-align: left ; font-family:'Courier New'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  ><%= f.text_area :message, :size=> "50x1" %></div>

<DIV id=u52 style="visibility:hidden; position:absolute; left:135px; top:543px; width:336px; height:51px;; overflow:hidden">
<DIV id=pd0u52 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<INPUT id=u53  type=text value="" style="position:absolute; left:6px; top:17px; width:184px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<div style="position:absolute; left:199px; top:18px; width:70px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" ><%= f.submit %></div>

<DIV id=u55 style="position:absolute; left:275px; top:22px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u55_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>remove</u></span></DIV></DIV>
</DIV>
</DIV>
<INPUT id=u56  type=submit value="Submit" style="position:absolute; left:280px; top:713px; width:80px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >

<DIV id=u56ann style="font-size:1px; position:absolute; left:351px; top:709px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u57 style="position:absolute; left:688px; top:275px; width:105px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u57_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'View Tickets', tickets_path %></span></DIV></DIV>

<DIV id=u61container style="position:absolute; left:10px; top:20px; width:91px; height:61px;; overflow:visible">


<DIV id=u78 style="position:absolute; left:490px; top:210px; width:20px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u78_rtf><span style=" font-family:'Arial'; color:#FF6600; font-size:16pt;">*</span></DIV></DIV>
<DIV id=u79 style="position:absolute; left:504px; top:210px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u79_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">fields are mandatory</span></DIV></DIV>
<DIV id=u80 style="position:absolute; left:112px; top:470px; width:20px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u80_rtf><span style=" font-family:'Arial'; color:#FF6600; font-size:16pt;">*</span></DIV></DIV>
<DIV id=u81 style="position:absolute; left:114px; top:580px; width:20px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u81_rtf><span style=" font-family:'Arial'; color:#FF6600; font-size:16pt;">*</span></DIV></DIV>
<DIV id=u82 style="position:absolute; left:391px; top:700px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u82_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><%= link_to 'Cancel', tickets_path %></span></DIV></DIV>
<DIV id=u83 style="position:absolute; left:370px; top:700px; width:20px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u83_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">or</span></DIV></DIV>


 <script>
var f1 = new LiveValidation('ticket_subject');
f1.add( Validate.Presence ); </script>

 <script>
var f2 = new LiveValidation('ticket_message');
f2.add( Validate.Presence ); </script>
<%end%>
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Create a ticket_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>

