<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Tag line</th>
    <th>Logo</th>
    <th>Address</th>
    <th>Zip code</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Website</th>
    <th>Account created</th>
    <th>Time zone</th>
    <th>Date format</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.company_name %></td>
    <td><%= contact.tag_line %></td>
    <td><%= contact.logo %></td>
    <td><%= contact.address %></td>
    <td><%= contact.zip_code %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.fax %></td>
    <td><%= contact.website %></td>
    <td><%= contact.account_created %></td>
    <td><%= contact.time_zone %></td>
    <td><%= contact.date_format %></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
