<DIV id=u54 style="position:absolute; left:21px; top:189px; width:109px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>
<DIV id=ou55 style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:202px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u55.png',sizingMethod='scale');
"><img style="width:183px; height:202px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u55.png" border="0" alt=""></span>

</DIV>
<DIV id=u55container style="position:absolute; left:8px; top:217px; width:175px; height:194px;; overflow:visible">

<DIV id=u56 style="position:absolute; left:2px; top:88.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u56_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u55 src="Resources/transparent.gif" style="position:absolute; left:8px; top:217px; width:174px; height:193px"  >

<span style="position:absolute; left:10px; top:289px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u57.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u57.png" border="0" alt=""></span>

<IMG id=u57 src="Resources/transparent.gif" style="position:absolute; left:10px; top:288.5px; width:170px; height:2px">

<DIV id=u58 style="position:absolute; left:20px; top:265px; width:130px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u58_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'View / Modify FAQs', faqs_path %></span></DIV></DIV>
<DIV id=u59 style="position:absolute; left:21px; top:304px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u59_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Insert FAQ', new_faq_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:253px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u60.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u60.png" border="0" alt=""></span>

<IMG id=u60 src="Resources/transparent.gif" style="position:absolute; left:10px; top:252.5px; width:170px; height:2px">

<DIV id=u61 style="position:absolute; left:22px; top:228px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u61_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Knowledge base', categories_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:334px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u62.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u62.png" border="0" alt=""></span>

<IMG id=u62 src="Resources/transparent.gif" style="position:absolute; left:10px; top:333.5px; width:170px; height:2px">

<DIV id=u63 style="position:absolute; left:19px; top:343px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Create Category', new_category_path %></span></DIV></DIV>
<span style="position:absolute; left:10px; top:367px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- detail view of the FAQ_files/u64.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- detail view of the FAQ_files/u64.png" border="0" alt=""></span>

<IMG id=u64 src="Resources/transparent.gif" style="position:absolute; left:10px; top:366.5px; width:170px; height:2px">

<DIV id=u65 style="position:absolute; left:20px; top:380px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u65_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Manage Category', categories_path %></span></DIV></DIV>
<DIV id=ou66 style="position:absolute; left:209px; top:188px; width:613px; height:483px;; overflow:visible">
<h1>Listing categories</h1>

<table border = "1">
  <tr>
    <th>Category name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.category_name, category %></td>
    <td><%= category.description %></td>
    
    
    <td><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
</DIV>
