<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Menu Maker Installation Instructions</title>

<style type="text/css">
   body{padding:20px; font-size:15px; color:#000000; font-family:Arial, Helvetica, sans-serif;}
   h2 {font-weight:bold; color:#000099; margin:10px 0px; }
   p span {color:#006600; font-weight:bold; }
   a, a:link, a:visited {color:#0000FF;}
   textarea {width: 100%; padding: 10px; margin: 10px 0 15px 0; font-size: 20px; font-family: Consolas,monospace;}
   textarea.html {height: 300px;}
   p {margin: 0 0 10px 0;}
   code, pre {font-family: Consolas,monospace; color: green;}
   ol li {margin: 0 0 15px 0;}
</style>

</head>

<body background="/images/Fotosearch_Customer service1.jpg">



</body>
</html>
<DIV id=ou62 style="position:absolute; left:10px; top:20px; width:91px; height:61px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:99px; height:69px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Client Area_files/u62.png',sizingMethod='scale');
"><img style="width:99px; height:69px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Client Area_files/u62.png" border="0" alt=""></span>

</DIV>
<DIV id=u62container style="position:absolute; left:10px; top:20px; width:91px; height:61px;; overflow:visible">

<DIV id=u63 style="position:absolute; left:2px; top:22px; width:86px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u0 src="/images/LiveSupportLogo.gif" style="position:absolute; left:10px; top:0px; width:200px; height:100px"  >

<DIV id=u64 style="position:absolute; left:225px; top:15px; width:200px; height:30px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u64_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16pt;"><b>Support Stack</b></span></DIV></DIV>
<DIV id=u66 style="position:absolute; left:225px; top:50px; width:300px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u66_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>World wide Technical Support</b></span></DIV></DIV>
<DIV id=ou67 style="position:absolute; left:10px; top:94px; width:841px; height:9px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:849px; height:17px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Client Area_files/u67.png',sizingMethod='scale');
"><img style="width:849px; height:17px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Client Area_files/u67.png" border="0" alt=""></span>

</DIV>
<DIV id=u67container style="position:absolute; left:10px; top:94px; width:841px; height:9px;; overflow:visible">

<DIV id=u68 style="position:absolute; left:2px; top:-4px; width:836px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u67 src="Resources/transparent.gif" style="position:absolute; left:10px; top:94px; width:840px; height:8px"  >

<span style="position:absolute; left:471px; top:10px; width:45px; height:45px">
<IMG id=ou69 src="/images/Client Area_files/u69.gif" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:471px; top:10px; width:45px; height:45px"   >

<DIV id=u69ann style="font-size:1px; position:absolute; left:507px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u70 style="position:absolute; left:476px; top:62px; width:50px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Home', home_homepage_path %></span></DIV></DIV>
<DIV id=u70ann style="font-size:1px; position:absolute; left:517px; top:58px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:529px; top:10px; width:45px; height:45px">
<IMG id=ou71 src="/images/Client Area_files/u71.gif" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u71 src="Resources/transparent.gif" style="position:absolute; left:529px; top:10px; width:45px; height:45px"   >

<DIV id=u71ann style="font-size:1px; position:absolute; left:565px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u72 style="position:absolute; left:533px; top:62px; width:50px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to 'News', home_news_path %></span></DIV></DIV>
<span style="position:absolute; left:599px; top:10px; width:45px; height:45px">
<IMG id=ou73 src="/images/Client Area_files/u73.jpg" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u73 src="Resources/transparent.gif" style="position:absolute; left:599px; top:10px; width:45px; height:45px"   >

<DIV id=u73ann style="font-size:1px; position:absolute; left:635px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u74 style="position:absolute; left:584px; top:63px; width:88px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Create Ticket', new_ticket_path %></span></DIV></DIV>
<DIV id=u74ann style="font-size:1px; position:absolute; left:663px; top:59px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:676px; top:10px; width:45px; height:45px">
<IMG id=ou75 src="/images/Client Area_files/u75.jpg" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u75 src="Resources/transparent.gif" style="position:absolute; left:676px; top:10px; width:45px; height:45px"   >

<DIV id=u75ann style="font-size:1px; position:absolute; left:712px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u76 style="position:absolute; left:667px; top:63px; width:98px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Ticket History', tickets_path %></span></DIV></DIV>
<DIV id=u76ann style="font-size:1px; position:absolute; left:756px; top:59px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:752px; top:10px; width:45px; height:45px">
<span id=ou77 style="position:absolute;left:0px;top:0px;width:45px;height:45px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Client Area_files/u77.png',sizingMethod='scale');
"><img style="width:45px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Client Area_files/u77.png" border="0" alt=""></span>
</span>

<IMG id=u77 src="Resources/transparent.gif" style="position:absolute; left:752px; top:10px; width:45px; height:45px"   >

<DIV id=u77ann style="font-size:1px; position:absolute; left:788px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u78 style="position:absolute; left:751px; top:62px; width:63px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u78_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to "Sign in", new_user_session_path %></span></DIV></DIV>
<DIV id=u78ann style="font-size:1px; position:absolute; left:805px; top:58px; width:1px; height:1px; overflow:visible"></DIV>	
<DIV id=u78ann style="font-size:1px; position:absolute; left:805px; top:58px; width:1px; height:1px; overflow:visible"></DIV>


