<DIV id=ou62 style="position:absolute; left:10px; top:20px; width:91px; height:61px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:99px; height:69px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/clientarea_files/u62.png',sizingMethod='scale');
"><img style="width:99px; height:69px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/clientarea_files/u62.png" border="0" alt=""></span>

</DIV>
<DIV id=u62container style="position:absolute; left:10px; top:20px; width:91px; height:61px;; overflow:visible">

<DIV id=u63 style="position:absolute; left:2px; top:22px; width:86px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u63_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u62 src="Resources/transparent.gif" style="position:absolute; left:10px; top:20px; width:90px; height:60px"  >

<DIV id=u64 style="position:absolute; left:121px; top:20px; width:189px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u64_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16pt;"><b>[ Company name ]</b></span></DIV></DIV>
<DIV id=u65 style="position:absolute; left:31px; top:38px; width:60px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u65_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16pt;"><b>Logo</b></span></DIV></DIV>
<DIV id=u66 style="position:absolute; left:122px; top:51px; width:98px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u66_rtf><span style=" font-family:'Arial'; color:#000000; font-size:12pt;"><b>Support</b></span></DIV></DIV>
<DIV id=ou67 style="position:absolute; left:10px; top:94px; width:841px; height:9px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:849px; height:17px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/clientarea_files/u67.png',sizingMethod='scale');
"><img style="width:849px; height:17px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/clientarea_files/u67.png" border="0" alt=""></span>

</DIV>
<DIV id=u67container style="position:absolute; left:10px; top:94px; width:841px; height:9px;; overflow:visible">

<DIV id=u68 style="position:absolute; left:2px; top:-4px; width:836px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u67 src="Resources/transparent.gif" style="position:absolute; left:10px; top:94px; width:840px; height:8px"  >

<span style="position:absolute; left:471px; top:10px; width:45px; height:45px">
<IMG id=ou69 src="images/clientarea_files/u69.gif" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:471px; top:10px; width:45px; height:45px"   >

<DIV id=u69ann style="font-size:1px; position:absolute; left:507px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u70 style="position:absolute; left:476px; top:62px; width:50px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Home', home_homepage_path %></span></DIV></DIV>
<DIV id=u70ann style="font-size:1px; position:absolute; left:517px; top:58px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:529px; top:10px; width:45px; height:45px">
<IMG id=ou71 src="images/clientarea_files/u71.gif" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u71 src="Resources/transparent.gif" style="position:absolute; left:529px; top:10px; width:45px; height:45px"   >

<DIV id=u71ann style="font-size:1px; position:absolute; left:565px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u72 style="position:absolute; left:533px; top:62px; width:50px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to 'News', home_news_path %></span></DIV></DIV>
<span style="position:absolute; left:599px; top:10px; width:45px; height:45px">
<IMG id=ou73 src="images/clientarea_files/u73.jpg" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u73 src="Resources/transparent.gif" style="position:absolute; left:599px; top:10px; width:45px; height:45px"   >

<DIV id=u73ann style="font-size:1px; position:absolute; left:635px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u74 style="position:absolute; left:584px; top:63px; width:88px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u74_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Create Ticket', new_ticket_path %></span></DIV></DIV>
<DIV id=u74ann style="font-size:1px; position:absolute; left:663px; top:59px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:676px; top:10px; width:45px; height:45px">
<IMG id=ou75 src="images/clientarea_files/u75.jpg" style="position:absolute;left:0px;top:0px;width:45px;height:45px">
</span>
<IMG id=u75 src="Resources/transparent.gif" style="position:absolute; left:676px; top:10px; width:45px; height:45px"   >

<DIV id=u75ann style="font-size:1px; position:absolute; left:712px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u76 style="position:absolute; left:667px; top:63px; width:98px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to'Ticket History', tickets_path %></span></DIV></DIV>
<DIV id=u76ann style="font-size:1px; position:absolute; left:756px; top:59px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:752px; top:10px; width:45px; height:45px">
<span id=ou77 style="position:absolute;left:0px;top:0px;width:45px;height:45px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/clientarea_files/u77.png',sizingMethod='scale');
"><img style="width:45px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/clientarea_files/u77.png" border="0" alt=""></span>
</span>

<IMG id=u77 src="Resources/transparent.gif" style="position:absolute; left:752px; top:10px; width:45px; height:45px"   >

<DIV id=u77ann style="font-size:1px; position:absolute; left:788px; top:6px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u78 style="position:absolute; left:751px; top:62px; width:63px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u78_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to "Contact Us", home_contactus_path %></span></DIV></DIV>
<DIV id=u78ann style="font-size:1px; position:absolute; left:805px; top:58px; width:1px; height:1px; overflow:visible"></DIV>	
<DIV id=u78ann style="font-size:1px; position:absolute; left:805px; top:58px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u29 style="position:absolute; left:670px; top:175px; width:300px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u29_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>Welcome <% if user_signed_in? %><%= current_user.fullname %></b></span></DIV></DIV>
<DIV id=u30 style="position:absolute; left:685px; top:243px; width:154px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u30_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><%= link_to 'Change your password ?', edit_user_registration_path %></u></span></DIV></DIV>
<DIV id=ou31 style="position:absolute; left:656px; top:125px; width:184px; height:37px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:192px; height:45px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='View individual ticket_files/u31.png',sizingMethod='scale');
"><img style="width:192px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="View individual ticket_files/u31.png" border="0" alt=""></span>

</DIV>
<DIV id=u31container style="position:absolute; left:656px; top:125px; width:184px; height:37px;; overflow:visible">

<DIV id=u32 style="position:absolute; left:2px; top:10px; width:179px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u32_rtf><span style=" color:#000000; font-size:10pt;"><b>&nbsp;&nbsp; My Account</b></span></DIV></DIV>
</DIV>
<IMG id=u31 src="Resources/transparent.gif" style="position:absolute; left:656px; top:125px; width:183px; height:36px"  >

<DIV id=u33 style="position:absolute; left:685px; top:211px; width:70px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u33_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:9pt;"><u><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></u></span></DIV></DIV>

<% end %>

