<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Menu Maker Installation Instructions</title>

<style type="text/css">
   body{padding:20px; font-size:15px; color:#000000; font-family:Arial, Helvetica, sans-serif;}
   h2 {font-weight:bold; color:#000099; margin:10px 0px; }
   p span {color:#006600; font-weight:bold; }
   a, a:link, a:visited {color:#000000;}
   textarea {width: 100%; padding: 10px; margin: 10px 0 15px 0; font-size: 20px; font-family: Consolas,monospace;}
   textarea.html {height: 300px;}
   p {margin: 0 0 10px 0;}
   code, pre {font-family: Consolas,monospace; color: green;}
   ol li {margin: 0 0 15px 0;}
</style>

</head>

<body background="/images/blue-abstract-composition.jpg">



</body>
</html>
<DIV id=u2 style="position:absolute; left:10px; top:54px; width:160px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u2_rtf><span style=" font-family:'Arial'; color:#FFFFFF; font-size:14pt;">Support Stack</span></DIV></DIV>
<IMG id=u31 src="/images/Live-Support.jpg" style="position:absolute; left:10px; top:10px; width:183px; height:70px"  >



<DIV id=u6 style="position:absolute; left:796px; top:8px; width:60px; height:14px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u6_rtf><span style=" font-family:'Arial'; color:#FFFFFF; font-size:8pt;"><u><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></u></span></DIV></DIV>
<DIV id=u7 style="position:absolute; left:585px; top:9px; width:203px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u7_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;"><b>Welcome <% if admin_signed_in? %><%= current_admin.full_name %></b></span></DIV></DIV>
<%end%>
<DIV id=u10container style="position:absolute; left:174px; top:68px; width:86px; height:26px;; overflow:visible">

<DIV id=u11 style="position:absolute; left:10px; top:4.5px; width:81px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u11_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><b><%= link_to "Dashboard", admin_staffhome_path %></b></span></div></DIV></DIV>
</DIV>





<DIV id=u14container style="position:absolute; left:281px; top:68px; width:59px; height:26px;; overflow:visible">

<DIV id=u15 style="position:absolute; left:2px; top:4.5px; width:54px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u15_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><b><%= link_to 'Tickets', staff_ticket_path %></b></span></div></DIV></DIV>
</DIV>



<DIV id=u18container style="position:absolute; left:371px; top:68px; width:59px; height:26px;; overflow:visible">

<DIV id=u19 style="position:absolute; left:2px; top:4.5px; width:54px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u19_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><b><%= link_to 'Time', staff_tracksheet_path %></b></span></div></DIV></DIV>
</DIV>

