
<%= render :partial => "layouts/header" %>
<div id=ou62 style="position:absolute; left:100px; top:100px; width:1000px; height:100px;; overflow:visible">




<script src="/javascripts/livevalidation_standalone.js"></script>
<h2>Creat your account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="label"><%= f.label :fullname %></div>
  <div class="text"><%= f.text_field :fullname %></div>

<div class="label"><%= f.label :username %></div>
  <div class="text"><%= f.text_field :username %></div>

<div class="label"><%= f.label :email %><br /></div>
  <div class="text"><%= f.email_field :email %></div>

<div class="label"><%= f.label :company_name %></div>
 <div class="text"> <%= f.text_field :company %></div>

<div class="label"><%= f.label :address %></div>
  <div class="text"><%= f.text_field :address1 %></div>

<div class="label"><%= f.label :address %></div>
  <div class="text"><%= f.text_field :address2 %></div>

<div class="label"><%= f.label :city %></div>
  <div class="text"><%= f.text_field :city %></div>

<div class="label"><%= f.label :state %></div>
  <div class="text"><%= f.text_field :state %></div>


<div class="label"><%= f.label :country %></div>
  <div class="text"><%= f.text_field :country %></div>

<div class="label"><%= f.label :phone1 %></div>
  <div class="text"><%= f.text_field :phone1 %></div>

<div class="label"><%= f.label :phone2 %></div>
  <div class="text"><%= f.text_field :phone2 %></div>

<div class="label"><%= f.label :fax %></div>
  <div class="text"><%= f.text_field :fax %></div>

<div class="label"><%= f.label :web %></div>
  <div class="text"><%= f.text_field :web %></div>
 

<div class="label"><%= f.label :password %><br /></div>
  <div class="text"><%= f.password_field :password %></div>

 <div class="label"><%= f.label :password_confirmation %><br /></div>
  <div class="text"><%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>

 <script>
var f1 = new LiveValidation('user_fullname');
f1.add( Validate.Presence ); 
</script>
 <script>
var f2 = new LiveValidation('user_username');
f2.add( Validate.Presence );
 </script>
 <script>
var f3 = new LiveValidation('user_email');
f3.add( Validate.Presence );
 </script>
 <script>
var f4 = new LiveValidation('user_company');
f4.add( Validate.Presence );
</script>
 <script>
var f5 = new LiveValidation('user_address1');
f5.add( Validate.Presence );
 </	script>
 <script>
var f6 = new LiveValidation('user_country');
f6.add( Validate.Presence );
 </script>
 <script>
var f7 = new LiveValidation('user_password');
f7.add( Validate.Presence );
 </script>
 <script>
var f8 = new LiveValidation('user_password_confirmation');
f8.add( Validate.Presence );


</script>



<% end %>

<%= render :partial => "devise/shared/links" %>

</div>

